# portions stolen from: https://github.com/skwp/dotfiles/blob/master/git/gitconfig
[alias]
	a = add

	b = branch

	amend = commit --amend

	co = checkout

	cp = cherry-pick -x

	l = log --graph --date=default --format=fuller
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
	simple = log --pretty=format:\" * %s\"
	shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

	st = status

	# http://www.chrisle.me/2012/12/git-fuck-it/
	fuckit = "!git clean -d -x -f -f ; git reset --hard"
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[help]
	autocorrect = 1
[user]
	email = dev@aas.io
	name = Andrew Seidl
[push]
	default = current
[merge]
	tool = vimdiff
	ff = only
[rebase]
	autostash = true
[branch]
	autosetuprebase = always
[hub]
	protocol = ssh
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[rerere]
	enabled = true
[diff]
	mnemonicprefix = true
	algorithm = patience

# Disabling fsck due to compatibility issues with Git 1.8 and vim-plugged
## verify object integrity
## https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
#[transfer] 
#	fsckobjects = true 
#[fetch] 
#	fsckobjects = true
#[receive] 
#	fsckObjects = true
## required for kennethreitz/requests, itself required by ycmd
#[fsck]
#	badTimezone = ignore

