# portions stolen from: https://github.com/skwp/dotfiles/blob/master/git/gitconfig
[alias]
	a = add

	b = branch

	c  = commit
	ca = commit -a
	amend = commit --amend

	co = checkout
	nb = checkout -b

	cp = cherry-pick -x

	d  = diff
	dc = diff --cached
	last = diff HEAD^

	l = log --graph --date=default
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
	simple = log --pretty=format:\" * %s\"
	shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

	pl = pull
	ps = push

	rc = rebase --continue
	rs = rebase --skip

	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	mt = mergetool

	ss = stash
	sl = stash list
	sa = stash apply
	sd = stash drop

	st = status

	# http://www.chrisle.me/2012/12/git-fuck-it/
	fuckit = "!git clean -d -x -f -f ; git reset --hard"
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[help]
	autocorrect = 1
[user]
	email = dev@aas.io
	name = Andrew Seidl
[push]
	default = current
[merge]
	tool = vimdiff
[rebase]
	autostash = true
[branch]
	autosetuprebase = always
[hub]
	protocol = ssh
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[rerere]
	enabled = true
[diff]
	mnemonicprefix = true
	algorithm = patience

# verify object integrity
# https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
[transfer] 
	fsckobjects = true 
[fetch] 
	fsckobjects = true 
[receive] 
	fsckObjects = true
